/*Name Amarjot Singh
    Student number - 7755622 */
    
body{
    width: 97vw;
    max-width: 500vw;
    margin: 0 auto;
    font: bold 18px serif;
    padding: 5px;
    color: #ffffff;
    background-color: #000000;
    }
    .image-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 3.5px;
    }
     .image-grid>img{
         height:250px;
         width:250px;
       padding: 2.0rem; 
          
     }
    .main-grid-item{
        overflow : auto;
        padding : 0.5rem;
    }
    p{
        display: inline;
    }
    header{
        border: 5px solid rgb(255, 255, 255);
        border-radius: 50px;
        padding: 10px;
        margin: 10px;
        background-image:linear-gradient(to right, black, green, blue, red,yellow);
    }
     nav ul   { 
        display: flex;
        background-color: #ffa600;
        border-radius: 0.825em;
        width:95%;
        list-style-type:circle;
        justify-content: space-evenly;
        margin: auto;
        padding: 1.3rem;
    }

    nav>ul>li{
        display:inline-block;
        position: relative;
    }
    
    nav ul li ul { 
        
      display:none;
    
    }
    nav ul li:hover ul{
        display:grid; 
        color: rgb(0, 0, 0);
    }

    nav ul li a{
        color:black;
        border: 0.1em solid rgb(0, 0, 0);
        border-bottom-left-radius: 1em 1em;
        border-bottom-right-radius: 1em 1em;
        border-top-right-radius: 1em 1em;
        border-top-left-radius: 1em 1em;
        background-color: cornsilk;
        text-decoration: none;
        padding: 1rem;
        list-style-type: circle;
    }
    nav ul li ul {
        
        width: 100%; 
        position:absolute; 
        z-index: 999;
        text-align: left; 
        background-color: rgb(0, 0, 0);
        box-shadow: 0 0 0.5rem white;
    }
    nav ul li ul a:hover {
        color: #ffa600;

    }
    
    nav ul li ul li a{ 
        color: white; 
        padding: 1.5rem; 
        display:contents; 
    }
    nav ul li a:hover{
        color: cornsilk;
        background-color: rgb(0, 0, 0);
    }

     footer{
        clear : both;
        border: 5px solid rgb(255, 255, 255);
        border-radius: 50px;
        padding: 10px;
        margin: 10px;
        background-image:linear-gradient(to right, black, green, blue, red,yellow)
    }
    h1{
        color: rgb(255, 166, 0);
        font-variant: small-caps;
    }
    h2{
        color: rgb(248, 6, 6);
        padding: 0.5rem;
        font-variant: small-caps;
    }
    footer p{
        font-size : 24px;
        color: #ffa600;
    }
    main{
        float : left;
        width : 60%;
        padding: 10px;
        margin: 10px;
        clear: left;
    }
    aside{
        background-position:93%;
        background-size:170%;
        background-image:  url(https://i.pinimg.com/originals/c1/97/26/c197264dac30098a536a41ae9f963398.jpg);
        float :right;
        width : 33.3333%;
        height: 58rem;
        padding: 10px;
        margin: 10px;
        clear: right;
        font-weight: bolder;
    }
 .mainimg{
    border : 10px solid #ffa600;
    shape-outside: circle();
 }
 figcaption{
    font-style: bold;
    font-variant: small-caps;
 }
 q{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 0.9em;
 }
    ul li {
        list-style-type: none;
        line-height: 1.5;
    }
    ul>li>a{
        text-decoration: none;
        color: #000000;
    }
    a:hover{
        color :#ffa600;
    }
    table, tr, th, td{
        border : 2px solid #ffa600;
    }
    
    table{
        border-collapse:separate;
        overflow: hidden;
        width: 100%;
    }
    thead th{
        background-color:#ffa600;
    }
    tbody tr:hover{
        background-color: rgb(244, 1, 1);
    }
    tbody td, tbody th{
      
        padding : 0.5rem;
        position:relative;
        z-index: 10;
    }
    .yes{
        padding : 1.5rem;
        margin : 1.5rem;
        border : 0.425em solid white;
        border-radius: 2.25em;
        background-image:linear-gradient(to right, black, green, blue, red,yellow);
    }
    input[type="text"]{
    width: 70%;
    display: block;
    height:2em;
    }
    input[ type="submit"]{
        width: 70%;
    display: block;
    height:2em;
    }
    input[type=select]{
        width: 70%;
    display: block;
    height:2em;
    }
    textarea{
        width:70%;
        display: block;
    }
    fieldset{
       border:none; 
    }
    select , option , label , legend , input[type=submit]{
        font-size: 1.0rem;
        font-weight: bold;
        font-variant:normal ;
    }
    .button{
        background-color: #ffa600;
        border: 5px solid #ffffff;
        border-radius: 20px;
        padding: 0.15rem;
        margin: 0.50rem;
    }

    form{
            width: 100%; /* Adjust the width as needed */
            padding: 20px;
            float: left;
            clear: right;
            flex-wrap: wrap;
    }
    @media only screen and (max-width: 400px) {
        body {
            font-size: 18px; /* Adjust font size for larger screens */
            background-image: url('https://cdn4.sharechat.com/%EF%B8%8FRajKaregaKhalsa%EF%B8%8F_3227705e_1660560015697_sc_cmprsd_75.jpg');
        }

        form {
            width: 400px;
            
        }
    }

    @media only screen and (max-width: 1024px) {
        body {
            background-image: url('https://wallpaper-house.com/data/out/6/wallpaper2you_109029.jpg');
            background-size: cover;
        }

        form {
            width: 500px;
        }
    }